/* General Container */
.accueil-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #f3e6ff, #d9c8f0);
  overflow: hidden;
  padding-top: 70px; 
}
/* Content Area */
.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Main Content */
.main-content {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease-in-out;
}















